<!-- Totalizadores-->
<div class="row">
  <div class="col-sm-3">
    <div class="info-box">
      <div class="icone col-pink">
          <fa name="file-code-o"></fa>
      </div>
      <div class="conteudo">
        <h1>Total de Campanhas</h1>
        <p>10</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
      <div class="info-box">
          <div class="icone col-blue">
              <fa name="envelope-o"></fa>
          </div>
          <div class="conteudo">
            <h1>% de Entrega</h1>
            <p>90%</p>
          </div>
      </div>
  </div>
  <div class="col-sm-3">
      <div class="info-box">
          <div class="icone col-cyan">
              <fa name="envelope-open-o"></fa>
          </div>
          <div class="conteudo">
            <h1>% de Abertura</h1>
            <p>75%</p>
          </div>
      </div>
  </div>
  <div class="col-sm-3">
      <div class="info-box">
          <div class="icone col-green">
              <fa name="hand-pointer-o"></fa>
          </div>
          <div class="conteudo">
            <h1>% de Clicados</h1>
            <p>50%</p>
          </div>
      </div>
  </div>
</div><!-- #End Totalizadores-->

<!-- Grid de Campanhas -->
<div class="row">
  <div class="col-sm-12">
    <div class="info-box">
      <h2 class="titulo">Campanhas</h2>
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nome da Campanha</th>
                  <th scope="col">Data Process.</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
  </div>
</div>

<!-- # End Grid de Campanhas -->