<div class="sidebar">
  <div class="logo">
    <img src="../../assets/images/logo-semix.png">
  </div>
  <div class="menu">
    <ul>
      <li><a routerLink="/campanhas"><fa name="file-code-o"></fa> Campanhas</a></li>
      <li><a routerLink="#"><fa name="plus-square"></fa> Cadastros</a>
          <ul>
            <li><a routerLink="/areas">Áreas</a></li>
            <li><a routerLink="/centrodecusto">Centro de Custo</a></li>
            <li><a routerLink="/usuarios">Usuários</a></li>
          </ul>
      </li>
      <li><a href=""><fa name="cog"></fa> Administração</a></li>
    </ul>
  </div>

</div>
