
body, html {
    height: 100%; 
    width: 100%;
    background: #f6f6f6;
}

// Colors
.col-blue {
    color: #3490dc;
}
.col-indigo {
    color: #5d4af7;
}
.col-purple {
    color: #9561e2;
} 
.col-pink {
    color: #e5217c;
} 
.col-red {
    color: #e3342f;
} 
.col-orange {
    color: #f6993f;
}
.col-yellow {
    color: #ffed4a;
}
.col-green {
    color: #38c172;
} 
.col-teal {
    color: #4dc0b5;
}
.col-cyan {
    color: #00BCD4;
}

